// 布局页: 盒子的间距、背景色和圆角等
$layout-box-space-sm: 16px;
$layout-box-space-md: 32px;
$layout-box-bgc: #fff;
$box-radius: 8px;
$icon-opacity-num: 0.7;
$placeholder-box-color: #334454;

/* 全局样式变量 */
$placeholder-box-height-xs: 8px;
$animation-rotate-duration: 0.5s;
// 主要颜色，用于链接、按钮、选中的元素等
$primary-color: #1890ff;
// 成功状态的颜色，用于成功的消息、成功的状态指示等
$success-color: #52c41a;
// 信息状态的颜色，用于信息的消息、信息的状态指示等
$info-color: #1890ff;
// 警告状态的颜色，用于警告的消息、警告的状态指示等
$warning-color: #faad14;
// 错误状态的颜色，用于错误的消息、错误的状态指示等
$error-color: #f5222d;
// 高亮颜色，用于重要的文字和活动区域的背景
$highlight-color: #f5222d;
// 禁用状态的颜色，用于禁用的元素和不可用的文字
$disabled-color: rgba(0, 0, 0, 0.25);
// 基础边框颜色，用于大多数边框
$border-color-base: #d9d9d9;
// 边框颜色
$border-color-grey: #e8e8e8;
// 分割线颜色，用于列表和卡片等元素的分割线
$border-color-split: #f0f0f0;
// 基础背景色，用于表格等元素的背景
$background-color-base: #f5f5f5;
// 浅色背景色，用于表格的斑马线等元素的背景
$background-color-light: #fafafa;
// 文本色
$text-color-main: rgba(0, 0, 0, 0.88);
$text-color-secondary: rgba(0, 0, 0, 0.65);
$text-color-thirdly: rgba(0, 0, 0, 0.45);

@mixin sticky-fragment {
  position: sticky;
  top: 0;
  z-index: 1;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-x-center {
  display: flex;
  justify-content: center;
}
@mixin flex-row-y-center {
  display: flex;
  align-items: center;
}
// 超出省略号
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全局滚动条 */
// 全局滚动条样式
::-webkit-scrollbar {
  width: $box-radius;
  height: $box-radius;
}
// 滚动条轨道
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
// 滚动条滑块
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
// 滚动条滑块：鼠标悬停
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* 首页布局页PrimaryLayout.jsx相关 */
.primary-layout {
  min-width: 1200px;

  .sider {
    @include sticky-fragment;
    height: 100vh;
    z-index: 2;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

    .menu-wrapper {
      height: 100vh;
      overflow: auto;

      .ant-menu-inline {
        border-right: none;
      }

      .logo-wrapper {
        @include sticky-fragment;
        height: 64px;
        padding: $layout-box-space-sm;
        background-color: #fff;

        .logo {
          height: 100%;
          background-color: $placeholder-box-color;
          border-radius: $box-radius;
          cursor: pointer;
        }
      }

      .logo-wrapper-dark {
        background-color: #001529;
      }
    }
  }

  .sider-hidden {
    visibility: hidden;
  }

  .main {
    min-height: 100vh;

    .header {
      @include sticky-fragment;
      background-color: $layout-box-bgc;
      padding: 0 $layout-box-space-sm;

      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          @include flex-row-y-center;

          .collapsed-button {
            font-size: 18px;
            width: $layout-box-space-md;
            height: $layout-box-space-md;

            .ant-btn-icon {
              margin-top: -2px;
            }
          }
        }

        .right {
          @include flex-row-y-center;

          .header-icon {
            cursor: pointer;
            font-size: 18px;
            margin-left: 20px;

            &:hover {
              opacity: $icon-opacity-num;
            }
          }

          .search-wrapper {
            display: flex;

            .input-wrapper-hidden {
              width: 0;
              padding: 4px 0;
              border-radius: 0;
              border-bottom: 1px solid $border-color-base;
              transition: all 0.4s;
            }

            .input-wrapper {
              width: 200px;
              margin-left: 8px;
            }
          }

          .setting-item {
            display: flex;
          }

          .avatar-wrapper {
            @include flex-row-y-center;
            margin-left: $layout-box-space-md;
            cursor: pointer;

            .user-name {
            }

            .arrow {
              margin: 0 8px;
              transition: transform $animation-rotate-duration;
            }

            .avatar {
              background-color: #f56a00;
              color: #fff;
            }

            // 鼠标移入时arrow旋转180度，移出时恢复
            &:hover .arrow {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .header-hidden {
      visibility: hidden;
      height: 0;
    }

    .tabs-bar {
      @include flex-row-y-center;
      padding: 0 $layout-box-space-sm;
      margin-left: -1px;
      margin-top: $layout-box-space-sm;
      height: 36px;

      .ant-tabs-tab {
        border-radius: $box-radius $box-radius 0 0 !important;
      }

      .ant-tabs-nav {
        margin-bottom: 0;
      }

      .left {
        width: 98%;
      }

      .right {
        width: 2%;
        @include flex-center;

        .clear {
          cursor: pointer;

          &:hover {
            opacity: $icon-opacity-num;
          }
        }
      }
    }

    .content {
      margin-left: $layout-box-space-sm;
      margin-right: $layout-box-space-sm;
      margin-bottom: $layout-box-space-sm;
      padding: $layout-box-space-sm;
      background-color: $layout-box-bgc;
      border-top-right-radius: $box-radius;
      border-bottom-left-radius: $box-radius;
      border-bottom-right-radius: $box-radius;

      .back-top-position {
        right: $layout-box-space-md;
        bottom: $layout-box-space-md;
      }

      .quit-zen {
        right: $layout-box-space-sm * 2 + 40px;
        bottom: $layout-box-space-sm * 2 + 40px;
      }
    }
  }
}

/* 登录布局页LoginLayout.jsx相关 */
.login-layout {
  height: 100vh;
  min-width: 1350px;
  min-height: 770px;
  background-color: rgb(245, 245, 245);

  .header {
    background-color: rgba(255, 255, 255, 0);
    padding: $layout-box-space-sm;

    .logo {
      height: 100%;
      width: 300px;
      background-color: $placeholder-box-color;
      border-radius: $box-radius;
    }
  }

  .content {
    @include flex-center;
  }
}

/* 通用局部样式 */
// 下边框阴影
.bottom-shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
// 左上边框圆角
.left-top-radius {
  border-top-left-radius: $box-radius;
}
// content高度(带有tabs-bar的content)
.content-with-tabs-height {
  min-height: calc(100vh - 100px - $layout-box-space-sm * 2);
}
// content高度(不带tabs-bar的content)
.content-without-tabs-height {
  min-height: calc(100vh - 64px - $layout-box-space-sm * 2);
}
// content上边距(不带tabs-bar的content)
.content-without-tabs-mt {
  margin-top: $layout-box-space-sm;
}
// 占位盒子
.placeholder-box {
  height: $placeholder-box-height-xs;
}
// 元素旋转
.rotate {
  animation: rotate $animation-rotate-duration linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// 面包屑相关
.breadcrumb-item {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.breadcrumb-item-last {
  color: rgba(0, 0, 0, 0.88);
}
.breadcrumb-item-Oblique {
  margin: 0 8px;
  user-select: none;
}
